@{
    ViewBag.Title = "CDI Automotriz";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Inicio</h2>

        <div class="row">
            <div class="col-xs-12">
                <p>
                    Taller Mecanico. Trabajamos con electronica , modificaciones e inyeccion.<br />
                     Especialistas en:
                </p>
                <ul class="list-group">
                    <li class="list-group-item"><img src="~/Resources/Img/BMWLogo50x50.jpg" alt="BMWLogo" height="25" width="25" /> BMW </li>
                    <li class="list-group-item"><img src="~/Resources/Img/ToyotaLogo.jpg" alt="ToyotaLogo" height="25" width="25" /> TOYOTA</li>
                    <li class="list-group-item"><img src="~/Resources/Img/hyundaiLogo.jpg" alt="HyundaiLogo" height="25" width="25" /> HYUNDAI</li>
                    <li class="list-group-item"><img src="~/Resources/Img/MazdaLogo.jpg" alt="MazdaLogo" height="25" width="25" /> MAZDA</li>
                    <li class="list-group-item"><img src="~/Resources/Img/NissanLogo50x40.jpg" alt="NissanLogo" height="25" width="25" /> NISSAN</li>
                    <li class="list-group-item"><img src="~/Resources/Img/KiaMotorsLogo.jpg" alt="KiaLogo" height="25" width="25" /> KIA</li>
                    <li class="list-group-item"><img src="~/Resources/Img/minicooperLogo.jpg" alt="MiniCooperLogo" height="25" width="25" /> MINI COOPER</li>
                </ul>
            </div>
        </div>
    </div>
</div>





