@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>

<div class="row">
    <div class="col-xs-offset-1, col-xs-11">
        <p>Phone numbers:</p>
        <div class="col-xs-offset-2, col-xs-10">
            <p> 22712727<br /> 88143629</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-1, col-xs-11">
        <p>Email:</p>
        <div class="col-xs-offset-2, col-xs-10">
            <p> (Ej) CDIAutomotriz@gmail.com</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Ubicación:
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-1, col-xs-4">
        <a href="https://www.google.co.cr/maps/dir//9.9154,-84.0325158/@@9.9146121,-84.0332137,18z/data=!4m2!4m1!3e0?hl=en" class="thumbnail"  >
            <img src="~/Resources/Img/Map.jpg" alt="Map">
            <p style="text-align:center">San Pedro, Curridabat.</p>
        </a>
    </div>
</div>







