@{
    ViewBag.Title = "Contacts";
}

<h2 class="text-center">Información de Contácto</h2>
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-xs-12">
                <h4><strong>Correo Electrónico:</strong></h4>
                <div class="col-xs-offset-2, col-xs-10">
                    <p>cedei08@hotmail.com</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4><strong>Teléfonos:</strong></h4>
                <div class="col-xs-offset-2, col-xs-10">
                    <p> 2271-1574<br /> 8814-3629</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4><strong>Ubicación:</strong></h4>
                <div class="col-xs-offset-2, col-xs-10">
                    <p>200 metros este del banco popular de Curridabat, entrada privada al lado izquierdo de la calle. Punto de referencia: Vidrios Flores.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <a href="https://www.google.co.cr/maps/dir//9.9154,-84.0325158/@@9.9146121,-84.0332137,18z/data=!4m2!4m1!3e0?hl=en" class="thumbnail">
                <img src="~/Resources/Img/Map.jpg" alt="Map">
                <p style="text-align:center">San Pedro, Curridabat.</p>
            </a>
        </div>
    </div>
</div>