@model CDI_Automotriz.ViewModels.CrearProyectoViewModel
@{
    ViewBag.Title = "CrearProyecto";
}

<form asp-controller="Project" asp-action="CrearProyecto" enctype="multipart/form-data">
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" />
    </div>
    <div>
        <label asp-for="Descripcion"></label>
        <input asp-for="Descripcion" />
    </div>
    <div>
        <input asp-for="ImagenPerfil" />
    </div>
    <div>
        <input type="submit" value="Agregar" />
    </div>

    
</form>

 






