.ImagenPerfil {
    max-width: 100%;
    height: auto;
}

.ListaMultipleVertical {
    
    color: black;
    margin-bottom: 1%;
}
.ListaMultipleVertical:hover {
    color: blue;
    background-color:lightgray;
}