
.ImagenPerfil {
    max-width: 100%;
    height: auto;
}

.ImagenesDetalles{
    max-width: 100%;
    height: auto;
    margin-bottom: 7%;
}

.ImagenesModificar{
    margin-top: 7%;
    max-width: 100%;
    height: auto;
}
