
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-main-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-th-list"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-main-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a asp-controller="Home" asp-action="Index"><img src="~/Resources/Img/CdiLogo.jpg" height="100" width="100" alt="CdiLogo"></a></li>
                <li><a asp-controller="Project" asp-action="Index"> Proyectos</a></li>
                <li><a asp-controller="Project" asp-action="CrearProyecto">Crear Proyecto</a></li>
                <li><a asp-controller="Product" asp-action="Index">Productos</a></li>
                <li><a asp-controller="Product" asp-action="CrearProducto">Crear Producto</a>
                <li><a asp-controller="Contact" asp-action="Index">Contactos</a></li>
                <li><a asp-controller="Extra" asp-action="Index">Extra</a></li>

            </ul>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>